/* app css stylesheet */

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.body-content {
    margin-left: 50px;
    margin-right: 50px;
}

.thumbnail {
    border-style: none;
    padding-top: 15px;
    max-width: 280px;
}

/*TODO: Delete if unneeded*/
.thumbnail img {
    width: 240px;
    height: 200px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}
/**/

.page_title {
    text-align: center;
}

.weight_calc_column {
    max-width: 430px;
}

.weight_tool_input {
    width:48px;
}

.img_container img {
    width: 140px;
}
