<div class="site-index">
	<div class="jumbotron">
		<h1>LocusJS Web Application</h1>
		<p class="lead">Web application for telemetric support in oil and gas wells drilling.</p>
    </div>

	<div class="body-content">
		<div class="row">
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/240x200" alt="What`s this icon" src="./images/icon-72-2x.png">
		      <div class="caption">
				<h3>What`s this?</h3>
				<p>This application allows the telemetry support for directional drilling of
                    wells, build the project and the actual profile of the well to control the
                    quality parameters of the well.</p>
				<p><a class="btn btn-primary" href="#">Locus Documentation &raquo;</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/240x200" alt="picture intro" src="./images/icon-72-2x.png">
		      <div class="caption">
				<h3>How to use?</h3>
				<p>This web application has the simple menu and we hope what an any visitor
                    can easily understand application structure.</p>
				<p><a class="btn btn-primary" href="#">Create New Account &raquo;</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/240x200" alt="picture intro" src="./images/icon-72-2x.png">
		      <div class="caption">
				<h3>What conditions?</h3>
				<p>For a relatively small monthly payment you will be available pretty great
                    features of cloud web service and support for users of the service
                    development team</p>
				<p><a class="btn btn-primary" href="#">Terms Of Use &raquo;</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/240x200"alt="picture intro" src="./images/icon-72-2x.png">
		      <div class="caption">
				<h3>What support?</h3>
				<p>Answers to frequently asked questions can be found in the Help section of
                    the cloud web service. Users with a paid basis provided extensive support
                    service.</p>
				<p><a class="btn btn-primary" href="#">Support Service&raquo;</a></p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>    
</div>
