<div class="thumbnail weight_calc_column">
    <h2>Weight Of Tool</h2>
    <div>
        <form novalidate class="simple-form">
            <span>Bottom Hole: </span>
            <input type="text" class="weight_tool_input" ng-model="weightCalcData.bottomHole" /><br />
            <span>Drilling Fluid Weight: </span>
            <input type="text" class="weight_tool_input" ng-model="weightCalcData.fluidWeight" /><br />
            <span>Weight: {{weightCalcData.weightTool}}</span>
        </form>
    </div>
</div>