<div ng-controller="WeightCalcCtrl">
	<div class="body-content">
        <div class="row page_title">
            <h1>Weight Calculation Tool</h1>
        </div>
		<div class="row" ng-controller="DrillComposListCtrl">
		  <div class="col-sm-9 col-md-6">
		    <div class="thumbnail weight_calc_column">
              <h2>Drillstring Composition</h2>
              <table class="table table-striped table-hover">
                  <tr>
                      <th>Items</th>
                      <th>Diameter, mm</th>
                      <th>Model</th>
                      <th>Number</th>
                      <th>Length, m</th>
                  </tr>
                  <tr ng-repeat="item in compositionList">
                      <td>{{item.item}}</td>
                      <td>{{item.diameter}}</td>
                      <td>{{item.model}}</td>
                      <td>{{item.number}}</td>
                      <td>{{item.length}}</td>
                  </tr>
              </table>
              <p>Press "Add Item" button below to add an item of the drilling composition.</p>
              <button type="button" class="btn btn-primary" ng-click="onEditMode()" ng-hide="changeMode()">Add Item</button>
              <button type="button" class="btn btn-primary" ng-click="offEditMode()" ng-show="changeMode()">Close Items</button>
		    </div>
		  </div>
		  <div class="col-sm-9 col-md-6" ng-hide="changeMode()">
		    <div class="thumbnail weight_calc_column">
              <h2>Composition View</h2>
              <table>
                  <tr ng-repeat="item in compositionList">
                      <td>{{item.length}}</td>
                      <td class="img_container"><img src="../images/{{item.image}}" /></td>
                      <td>{{item.model}}&nbsp;{{item.diameter}}</td>
                  </tr>
              </table>
		    </div>
		  </div>
		  <div class="col-sm-9 col-md-6" ng-show="changeMode()" ng-controller="ComposeItemGroupsCtrl">
		    <div class="thumbnail weight_calc_column">
              <h2>Drillstring Composition Items</h2>
              <div>
                  <h3>Main Items</h3>
                  <div class="row" ng-repeat="group in composeGroups">
                      <h4>{{group.group}}</h4>
                      <table>
                          <tr>
                              <td ng-repeat="item in group.items">{{item.title}}</td>
                          </tr>
                          <tr>
                              <td ng-repeat="image in group.items">
                                  <!-- TODO: All images should be same dimension -->
                                  <a href="#"><img src="../images/{{image.image}}" /></a>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
              <div>
                  <h3>Additional Items</h3>
              </div>
		    </div>
		  </div>
      </div>
      <div class="row" ng-hide="changeMode()">
          <div class="col-sm-9 col-md-6">
              <div class="thumbnail weight_calc_column">
                  <h2>Additional Equipment</h2>
                  <table class="table table-striped table-hover" ng-controller="AdditionalEquipmentCtrl">
                      <tr>
                          <th>Items</th>
                          <th>Diameter, mm</th>
                          <th>Model</th>
                          <th>Number</th>
                          <th>Length, m</th>
                      </tr>
                      <tr ng-repeat="additionalItem in additionalList">
                          <td>{{additionalItem.item}}</td>
                          <td>{{additionalItem.diameter}}</td>
                          <td>{{additionalItem.model}}</td>
                          <td>{{additionalItem.number}}</td>
                          <td>{{additionalItem.length}}</td>
                      </tr>
                  </table>
              </div>
          </div>
          <div class="col-sm-9 col-md-6">
              <div class="thumbnail weight_calc_column">
                  <h2>Weight Of Tool</h2>
                  <div ng-controller="WeightOfToolCtrl">
                      <form novalidate class="simple-form">
                          <span>Bottom Hole: </span>
                          <input type="text" class="weight_tool_input" ng-model="weightCalcData.bottomHole" /><br />
                          <span>Drilling Fluid Weight: </span>
                          <input type="text" class="weight_tool_input" ng-model="weightCalcData.fluidWeight" /><br />
                          <span>Weight: {{weightCalcData.weightTool}}</span>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>